<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
	<connectionStrings>
		<add name="Locationlive" connectionString="Data Source=203.98.86.33;Initial Catalog=orbexcoi_Locations;Persist Security Info=True;User ID=Success24;Password=Shri@Suman1234567890"/>
		<add name="Capi" connectionString="Data Source=mssql.uk.ds.network;Initial Catalog=orbexcoi_BD;Persist Security Info=True;User ID=IQIndia1;Password=21QI9k4vtz#niRuhu"/>
		<add name="Capis" connectionString="Data Source=203.98.86.33;Initial Catalog=orbexcoi_CapiCloud;Persist Security Info=True;User ID=success24;Password=Shri@Suman1234567890"/>
		<add name="S24" connectionString="Data Source=203.98.86.33;Initial Catalog=orbexcoi_Success24;Persist Security Info=True;User ID=success24;Password=Shri@Suman1234567890"/>
	</connectionStrings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<appSettings>
		<!--<add key="Country" value="'AE','SA','BH','KW','QA','OM'"/>-->
		<add key="Country" value="'IN'"/>
		<add key="DefaultCity" value="Noida"/>
		<add key="O365site" value="https://sharepointiq.sharepoint.com/IQPortal/"/>
		<add key="O365USER" value="shrikant@sharepointiq.in"/>
		<add key="O365PWD" value="shri@143"/>
		<add key="ClientId" value="11000c9b-4c01-4062-8630-0a14f2911896"/>
		<add key="ClientSecret" value="FXzGaa2PsxRXu2yguVXlBa7ER2e7MjulmGPRq0Afvm8="/>
		<!--<add key="HostURL" value="http://Legalx24.z/" />-->
		<!--<add key="HostURL" value="http://localhost:44367/"/>-->
		<add key="State" value="0"/>
		<add key="SityOnly" value="0"/>
		<add key="Cities" value="hajipur"/>
		<add key="ListName" value="IQIndia"/>
		<add key="SiteName" value="Legalx24"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>